---
import type { GetStaticPaths } from "astro";
import fetchApi from "../../lib/strapi";
import type Article from "../../interfaces/article";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const articles = await fetchApi<Article[]>({
    endpoint: "articles",
    wrappedByKey: "data",
  });
  return paginate(articles, { pageSize: 2 });
}

const { page } = Astro.props;
---

<Layout title="Blog">
  <h1>Page {page.currentPage}</h1>
  <ul>
    {
        page.data.map((article) => (
          <li>
            <a href={`/blog/${article.attributes.slug}`}>{article.attributes.title}</a>
          </li>
        ))
      }
  </ul>
  {page.url.prev ? <a href={page.url.prev}>Previous Page</a> : null} |
  {page.url.next ? <a href={page.url.next}>Next Page</a> : null}
</Layout>
